@font-face {
    font-family: 'lobster_1.3regular';
    src: url('/assets/lobster_1.3-webfont.woff2') format('woff2'),
         url('/assets/lobster_1.3-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
