@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: url('random_grey_variations.png');
  font-family: 'merriweatherregular';
}

.navbar {
  border-radius: 0;
  box-shadow: 0px 1px 4px #aaa;
  font-family: 'fira_sanssemibold';
  background: url('bright_squares.png');
}

.navbar a.navbar-brand {
  font-family: 'lobster_1.3regular';
  font-size: 30px;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.hero {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #aaa;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: 'fira_sansregular';
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'fira_sanssemibold';
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn {
  border-radius: 0;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.clr {
  clear: both;
}
